.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
    overflow: auto;
    max-height: 450px;
    margin-bottom: 20px;
}

.collection-table {
  width: 300px;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
}

.collection-table th, .collection-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Фоновый цвет для сохранения видимости заголовка */
}

.selected-row {
    background-color: #f0f8ff;
}

.buttons-container {
    margin-top: 5px;
    align-items: center;
    display: flex;
}

.update-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.update-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #df4438;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ab3d35;
}

.add-new-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-new-button:hover {
    background-color: #45a049;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
}

.left-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.username {
  cursor: pointer;
  font-size: 16px;
}

.menu-button {
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #45a049;
}

.user-info {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #df4438;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ab3d35;
}

.login-button {
  background-color: #f1e949;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #a4ad40;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #45a049;
}

.addForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm h2 {
  margin-bottom: 10px;
}

.addForm label {
  margin-bottom: 10px;
  font-size: 16px;
}

.addForm input {
  padding: 8px;
  font-size: 14px;
}

.addForm button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.addForm button:hover {
  background-color: #45a049;
}

.addForm select {
  padding: 8px;
  font-size: 14px;
}

.addForm select,
.addForm select option {
  width: 200px; /* Установите ширину селекта по вашему выбору */
}

.addForm select:hover {
  border-color: #45a049; /* Измените цвет рамки при наведении */
}

.addForm select:focus {
  outline: none; /* Уберите рамку фокуса */
  border-color: #4caf50; /* Измените цвет рамки при фокусе */
}

.addForm select option:hover {
  background-color: #45a049; /* Измените цвет фона при наведении на опцию */
}

.addForm select option:checked {
  background-color: #4caf50; /* Измените цвет фона выбранной опции */
  color: white; /* Измените цвет текста выбранной опции */
}
  