.breeds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    overflow: auto;
    max-height: 450px;
    margin-bottom: 20px;
}

.breeds-table {
    width: 300px;
    margin-bottom: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

.breeds-table th, .breeds-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Фоновый цвет для сохранения видимости заголовка */
}

.selected-row {
    background-color: #f0f8ff;
}

.buttons-container {
    margin-top: 5px;
    align-items: center;
    display: flex;
}

.update-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.update-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #df4438;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ab3d35;
}

.add-new-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-new-button:hover {
    background-color: #45a049;
}

.addForm {
    margin-top: 20px;
    display: none;
  }
  
  .addForm label {
    margin-right: 10px;
  }
  
  .addForm input {
    margin-bottom: 10px;
  }

  .menu-container {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .menu-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: 16px;
    outline: none;
  }
  
  .menu-button:hover {
    background-color: #ddd;
  }

  .clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .clients-table {
    width: 750px;
    margin-bottom: 20px;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .clients-table th,
  .clients-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .login-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }

  .addForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .addForm h2 {
    margin-bottom: 10px;
  }
  
  .addForm label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .addForm input {
    padding: 8px;
    font-size: 14px;
  }
  
  .addForm button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .addForm button:hover {
    background-color: #45a049;
  }
  